body {
  margin: 0;
  padding: 0;
}

/* Section Styling */
.section {
  padding-left: 1%;
  width: 98%;
}

.gallery a {
  text-decoration: none;
}

.gallery a img {
  border: 3px white solid;
  width: 19%;
}

.gallery a img:hover {
  border-color: gray;
}

/* Tab Styling */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: larger;
  font-weight: bold;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}